@{
    ViewData["Title"] = "Confirm Email";
    var siteName = Environment.GetEnvironmentVariable("SiteName");
    var loggedIn = User.Identity.IsAuthenticated;
}

<div class="fullscreen-image-wrapper">
    <div class="confirm-email-page">
        <h1>@siteName</h1>
        @if (loggedIn)
        {
            <p>Thank you for confirming your email. You can click <a href="~/manage">here</a> to manage your account.</p>
        }
        else
        {
            <p>Thank you for confirming your email. You can click <a href="~/account/login">here</a> to sign in.</p>
        }
    </div>
</div>
