@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="forgot-password-confirmation-page">
    <h3>Password Emailed</h3>
    <p>
        We have emailed you a link to reset your password.
        Please check your email.
    </p>
</div>
