@model LoginViewModel
@{ 
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-page">
    <partial name="_ValidationSummary" />
    @if (Model.EnableLocalLogin)
    {
        <form asp-route="login">
            <input type="hidden" asp-for="ReturnUrl" />
            <h2>Secure Sign In</h2>
            <div class="group">
                <input type="email" asp-for="Username" />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="Username">Email</label>
            </div>
            <div class="group">
                <input type="password" asp-for="Password" />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label asp-for="Password">Password</label>
            </div>
            @if (Model.AllowRememberLogin)
            {
                <div class="md-checkbox">
                    <input type="checkbox" asp-for="RememberLogin" data-val="true" value="true" />
                    <label asp-for="RememberLogin">Remember Me</label>
                </div>
            }
            <a href="~/account/forgot-password" class="">Forgot Password?</a>
            <div class="button-wrapper">
                <button value="login">Sign In</button>
            </div>
        </form>
    }
    @if (Model.VisibleExternalProviders.Any())
    {
        <h3>Or Sign In With:</h3>
        @foreach (var provider in Model.VisibleExternalProviders)
        {
            <div>
                <a class="" asp-controller="External" asp-action="Challenge" asp-route-provider="@provider.AuthenticationScheme" asp-route-ReturnUrl="@Model.ReturnUrl">
                    @provider.DisplayName
                </a>
            </div>
        }
    }
    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div style="font-weight:bold;color:red;">There are no login shcemes configured for this client.</div>
    }
    <div class="bottom-message">
        Don't have an account?
        <a href="~/account/register">Sign up now</a>
    </div>
</div>
