@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="register-page">
    <form asp-controller="account" asp-action="register" asp-route-returnUrl="@ViewData["returnUrl"]" method="post" role="form">
        <h3>Secure Sign Up</h3>
        <div asp-validation-summary="All" class="validation"></div>
        <div class="group">
            <input type="email" asp-for="Email" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label asp-for="Email">Email</label>
            <span class="validation" asp-validation-for="Email"></span>
        </div>
        <div class="group">
            <input type="password" asp-for="Password" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label asp-for="Password">Password</label>
            <span class="validation" asp-validation-for="Password"></span>
        </div>
        <div class="group">
            <input type="password" asp-for="ConfirmPassword" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <span class="validation" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="button-wrapper">
            <button type="submit">Create Account</button>
        </div>
        <div class="bottom-message">
            Already have an account?
            <a href="~/account/login">Sign In</a>
        </div>
    </form>
</div>
