@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="fullscreen-image-wrapper">
    <div class="home-page">
        <h1>Welcome to ryanerskine.dev</h1>
        <a href="~/account/login" class="mat-button primary large">Login</a>
        <a href="~/account/register" class="mat-button accent large">Create an account</a>
    </div>
</div>
