@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div>
    <h1>Welcome To Acounts <small>(version @version)</small></h1>
    <h3>Some Useful Links:</h3>
    <ul>
        <li><a href="~/account/login">Login</a></li>
        <li><a href="~/account/forgot-password">Forgot Password</a></li>
        <li><a href="~/.well-known/openid-configuration">Discovery Document</a></li>
        <li><a href="~/grants">Grants</a></li>
    </ul>
</div>
