@{ 
    ViewData["Title"] = "_LoginLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var siteName = Environment.GetEnvironmentVariable("SiteName");
    var siteMoto = Environment.GetEnvironmentVariable("SiteMoto");
}

<div class="login-layout fullscreen-image-wrapper">
    <div class="left">
        <!-- TODO: Replace with your own SVG icon -->
        <svg class="animated animatedjs fadeIn" version="1" viewBox="0 0 762 399" xmlns="http://www.w3.org/2000/svg"><path d="M69 180v180H0v32l3 3 4 4h748l4-4 3-3v-32h-68V0H69v180zm597 3v152H97V30h569v153zM422 381v5h-81v-11h81v6z" fill="#FFFFFF"></path></svg>
        <div>
            <h1>@siteName</h1>
            <h3>@siteMoto</h3>
        </div>
    </div>
    <div class="right">
        @RenderBody()
    </div>
</div>
